.header1{
    font-size: 32px;
    font-weight: 800;
    line-height: 60px;
}
.header2{
    font-size: 30px;
    font-weight: 800;
    line-height: 52px;
}
.header3{
    font-size: 28px;
    font-weight: 800;
    line-height: 52px;
}
.header4{
    font-size: 24px;
    font-weight: 800;
    line-height: 40px;
}
.header5{
    font-size: 20px;
    font-weight: 800;
    line-height: 36px;
}
.header6{
    font-size: 18px;
    font-weight: 800;
    line-height: 32px;
}
.header7{
    font-size: 16px;
    font-weight: 800;
    line-height: 28px;
}
.body1{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
}
.body2{
    font-size: 14px;
    font-weight: 800;
    line-height: 24px; 
}
.body3{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; 
}
.body4{
    font-size: 12px;
    font-weight: 800;
    line-height: 20px; 
}
.body5{
    font-size: 12px;
    font-weight: 400;
    line-height: 20px; 
}