@mainColor: #5B9896;
@secondaryColor01: #77B4B6;
@secondaryColor02: #A7DCCE;
@secondaryColor03: #D2ECD7;
@contrastColor: #FEF4A9;
@soft100: rgba(255, 255, 255, 1);
@soft85: rgba(255, 255, 255, 0.85);
@soft50: rgba(255, 255, 255, 0.5);
@soft15: rgba(255, 255, 255, 0.15);
@heavy100: rgba(0, 0, 0, 1);
@heavy85: rgba(0, 0, 0, 0.85);
@heavy50: rgba(0, 0, 0, 0.5);
@heavy15: rgba(0, 0, 0, 0.15);
@disable: rgba(0, 0, 0, 0.08);
@background: #f6f6f6;